@import '/src/variables';

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10%;
  margin-top: 100px;

  .top {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $dark-gray;
    .price-title {
      margin-left: 220px;
    }
    .quantity-title {
      margin-left: 90px;
    }
    .total-title {
      margin-left: 110px;
    }
  }
  .line {
    width: 782px;
    height: 0px;
    border: 0.3px solid rgba(70, 163, 88, 0.5);
    opacity: 0.5;
  }
  .products-container {
    display: flex;
    align-items: center;
    width: 782px;
    height: 70px;
    background-color: $off-white;
    gap: 88px;

    .img {
      img {
        width: 65px;
        height: 65px;
      }
    }
    .title {
      margin-left: -50px;
      white-space: nowrap;
      width: 100px;

      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      color: $dark-gray;
    }
    .quantity {
      color: $dark-gray;
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        width: 10px;
      }
    }
    .quantity-button-minus {
      display: flex;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: $green;
      color: $white;
      cursor: pointer;
      font-weight: 400;
      font-size: 28px;
      /* Set line-height: 1; to ensure minus button sits perfectly in the circle */
      line-height: 1;
    }
    .quantity-button-plus {
        display: flex;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        background-color: $green;
        color: $white;
        cursor: pointer;
        font-weight: 400;
        font-size: 28px;
      }
    .total-price {
      width: 61px;

      color: $green;
    }
    .remove-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .price {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: $gray;
    width: 25px;
  }
}
